{{ 'banner-custom.css' | asset_url | stylesheet_tag }}

<section class="banner-custom"
  style="background-image: url({{ section.settings.bg_image | image_url }});">

  <div class="banner-content">

    <h1>{{ section.settings.heading }}</h1>

    <p>{{ section.settings.text }}</p>

     <a href="{{ section.settings.button_link }}" class="banner-btn">

  <span>{{ section.settings.button_text }}</span>

  {% if section.settings.icon != blank and section.settings.icon_position == 'left' %}
    <img src="{{ section.settings.icon | image_url }}" alt="icon" class="btn-icon">
  {% endif %}

  {% if section.settings.icon != blank and section.settings.icon_position == 'right' %}
    <img src="{{ section.settings.icon | image_url }}" alt="icon" class="btn-icon">
  {% endif %}

</a>

  </div>

</section>


{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Add your description here"
    },
    {
  "type": "text",
  "id": "button_text",
  "label": "Button Text",
  "default": "Shop Now"
},
{
  "type": "url",
  "id": "button_link",
  "label": "Button Link"
},
{
  "type": "image_picker",
  "id": "icon",
  "label": "Button Icon"
},
{
  "type": "select",
  "id": "icon_position",
  "label": "Icon Position",
  "default": "right",
  "options": [
    { "value": "left", "label": "Left" },
    { "value": "right", "label": "Right" }
  ]
}
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}