{{ 'banner-custom.css' | asset_url | stylesheet_tag }}

<section class="banner-custom"
  style="background-image: url({{ section.settings.bg_image | image_url }});">

  <div class="banner-content">

    <h1>{{ section.settings.heading }}</h1>

    <p>{{ section.settings.text }}</p>

<<<<<<< HEAD
<<<<<<< HEAD
    <div class="multi-buttons">
=======
     <a href="{{ section.settings.button_link }}" class="btn">
>>>>>>> parent of 6d7eb88 (banner cta code updated)
=======
    {% if section.settings.button_text != blank %}
       <a href="{{ section.settings.button_link }}" class="btn">
>>>>>>> parent of af27c48 (banner cta button updated)

  {% for block in section.blocks %}
    <a href="{{ block.settings.button_link }}" class="btn" {{ block.shopify_attributes }}>
      
      {% if block.settings.icon_position == 'left' %}
        <img src="{{ block.settings.icon | image_url }}" class="btn-icon">
      {% endif %}

      <span>{{ block.settings.button_text }}</span>

      {% if block.settings.icon_position == 'right' %}
        <img src="{{ block.settings.icon | image_url }}" class="btn-icon">
      {% endif %}

<<<<<<< HEAD
    </a>
  {% endfor %}

</div>
=======
</a>
    {% endif %}
>>>>>>> parent of af27c48 (banner cta button updated)

  </div>

</section>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Add your description here"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
    {
  "type": "image_picker",
  "id": "icon",
  "label": "Button Icon"
},
{
  "type": "select",
  "id": "icon_position",
  "label": "Icon Position",
  "default": "right",
  "options": [
    { "value": "left", "label": "Left" },
    { "value": "right", "label": "Right" }
  ]
}
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}