{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<!-- Start Custom Header -->

<div class="header-bar">
  <div class="header-left">
    {% if section.settings.logo %}
      <img src="{{ section.settings.logo | image_url }}" alt="Logo">
    {% endif %}
  </div>

  <div class="header-center">
    <p>{{ section.settings.text }}</p>
  </div>

  <div class="header-right">
  <a href="{{ section.settings.button_link }}" class="btn">

  {% if section.settings.icon != blank and section.settings.icon_position == 'left' %}
    <img src="{{ section.settings.icon | image_url }}" alt="icon" class="btn-icon">
  {% endif %}

  <span>{{ section.settings.button_text }}</span>

  {% if section.settings.icon != blank and section.settings.icon_position == 'right' %}
    <img src="{{ section.settings.icon | image_url }}" alt="icon" class="btn-icon">
  {% endif %}

</a>
  </div>
</div>

<!-- End Custom Header -->

<!-- Start Header Schema -->

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Center Text",
      "default": "Welcome to our store"
    },
   {
  "type": "text",
  "id": "button_text",
  "label": "Button Text",
  "default": "Shop Now"
},
{
  "type": "url",
  "id": "button_link",
  "label": "Button Link"
},
{
  "type": "image_picker",
  "id": "icon",
  "label": "Button Icon"
},
{
  "type": "select",
  "id": "icon_position",
  "label": "Icon Position",
  "default": "right",
  "options": [
    { "value": "left", "label": "Left" },
    { "value": "right", "label": "Right" }
  ]
}
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}

<!-- End Header Schema -->