{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<!-- Start Custom Header -->

<div class="header-bar">
  <div class="header-left">
    {% if section.settings.logo %}
      <img src="{{ section.settings.logo | image_url }}" alt="Logo">
    {% endif %}
  </div>

  <div class="header-center">
    <p>{{ section.settings.text }}</p>
  </div>

  <div class="header-right">
  <a href="{{ section.settings.link }}" class="btn">
  <span>{{ section.settings.button_text }}</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 26 12" fill="none">
<path d="M0.75 4.77298L7.37629e-08 4.77298L-7.37629e-08 6.27298L0.75 6.27298L0.75 4.77298ZM25.2803 6.05331C25.5732 5.76042 25.5732 5.28554 25.2803 4.99265L20.5074 0.21968C20.2145 -0.073213 19.7396 -0.0732131 19.4467 0.21968C19.1538 0.512574 19.1538 0.987447 19.4467 1.28034L23.6893 5.52298L19.4467 9.76562C19.1538 10.0585 19.1538 10.5334 19.4467 10.8263C19.7396 11.1192 20.2145 11.1192 20.5074 10.8263L25.2803 6.05331ZM0.75 6.27298L24.75 6.27298L24.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="black"/>
</svg>
</a>
  </div>
</div>

<!-- End Custom Header -->

<!-- Start Header Schema -->

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Center Text",
      "default": "Welcome to our store"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}

<!-- End Header Schema -->